@import 'variables.scss';
@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

h1 {
    font-family: $title;
    font-size: 48px;
}

p, a {
    font-family: $montserrat-regular;
}


button {
    background-color: $main-red;
    border-radius: 50px;
    padding: 0.5em 2em;
    color: #fff;
    border: solid 1px $main-red;
    transition: all 300ms ease-in-out;

    &:hover {
        background-color: #FFF;
        color: $main-red;
    }
}

.empty-font {
    -webkit-text-stroke: 2px white;
    color: transparent;
}

//Banner

.image1 {
    background-image: url('/assets/images/banner-bg.jpg');
    opacity: 1;
}

.image2 {
    background-image: url('/assets/images/beafeter.png');
    background-repeat: no-repeat;
    background-position: center;
    background-color: #DADBDF;
    opacity: 1;

}

//Scroll text

.scrolltext-container {
    display: flex;
    align-items: center;
    height: 20vh;
    overflow: hidden;
}

.scroll {
    white-space: nowrap;
    margin: 0 2em;
}

.scroll div {
    display: flex;
    gap: 2em;
}

.scroll p {
    font-size: 5em;
    font-weight: bold;
    line-height: 0;
}


.rightToLeft {
    animation: rightToLeft 10s infinite linear;
}

@keyframes rightToLeft {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-50%);
    }
}

.leftToRight {
    animation: leftToRight 10s infinite linear;
}

@keyframes leftToRight {
    from {
        transform: translateX(-50%);
    }
    to {
        transform: translateX(0%);
    }
}


//Conocenos Menu

.conocenos {
    h1 {
        font-size: 68px;        
    }
}

.conocenos-button {
    cursor: pointer;
    display: flex;
    padding: 20px;
    margin-top: 2em;
    justify-content: center;

    p {
        padding-right: 5px;
        font-weight: bold;
        font-size: 18px;
    }

    &:hover {
        p {
            text-decoration: underline;
        }
    }
}

.close-svg {
    transform: rotate(45deg);
    filter: invert(99%) sepia(16%) saturate(2%) hue-rotate(158deg) brightness(113%) contrast(100%);
    cursor: pointer;
}

.close-svg-modal {
    transform: rotate(45deg);
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 10%;
}

.menu {
    transform: translateX(100%);
    transition: all 600ms ease;
    top: 0;
    right: 0;
    width: 100%;
    position: absolute;
    height: 100vh;
    background-color: #000;
    z-index: 20;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.menu-open {
    transform: translateX(0);
  }
  
.backdrop {
    display: none;
    position: absolute;
    font-size: larger;
    opacity: 0;
    transition: opacity 500ms ease-in-out;
}

.backdrop-open {
    display: block;
    cursor: pointer;
    z-index: 30;
    right: 2%;
    font-weight: bold;
    opacity: 1;
}

.menu-section {
    height: 525px;
    width: 250px;
    border: solid 1px $main-red;
    transition: background-color 200ms ease-in-out;
    position: relative;
    margin: 25px 0;
    
    h1 {
        font-size: 48px;
        transform: rotate(-90deg);
        color: $main-red;
        position: relative;
        top: 60%;
        left: 25%;
    }

    .menu-svg {
        filter: invert(99%) sepia(16%) saturate(2%) hue-rotate(158deg) brightness(113%) contrast(100%);
        position: absolute;
        left: 20px;
        top: 30px;    
      }


    &:hover {
        background-color: $main-red;
        cursor: pointer;

        h1 {
            color: #000;
        }

        .menu-svg {
            filter: invert(0%);
        }
    }
}

//Componente base

.basecomp-r {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    background-image: url('/assets/images/paper-bg.png');

    h1 {
        font-weight: bold;
        color: black;
    }

    p {
        color: #000;
    }
}

//Red

.red {
    position: absolute;
    background-color: $main-red;
    width: 100%;
    height: 100px;
    bottom: 15%;
    transform: rotate(-6.36deg);
    display: flex;
    align-items: center;

    h1 {
        color: white;
    }
}

//Redes

.redes {
    height: 100vh;
    background-image: url('/assets/images/seguinos-bg.png');
    background-size: cover;
    background-position: center;
    overflow: hidden;
    position: relative;
}

.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #FFF;
    opacity: .4;
    z-index: 2;
}

.red-circle {
    border-radius: 100%;
    position: absolute;
    height: 1000px;
    width: 1000px;
    background-color: #B40B35;
    opacity: .75;
    z-index: 5;
    left: 45%;
    top: 25%;
}

//footer

.footer-image {
    background-image: url('/assets/images/paper-bg-rounded.png');
    padding: 20px;
}

.footer-a:hover {
    text-decoration: underline;
    cursor: pointer;
    margin: 4px 0;
}

//Mobile

@media (max-width: 600px) {
    .image1 {
        background-size: cover;
        background-position: center;
    }

    .image2 {
        background-size: contain;
    }
  }